div.gallery:hover {
  opacity: 0.8;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  /*width: 24.99999%;*/
  width: 15.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.title-gallery{
  color: grey;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.delavnica__title{
  color: grey;
  padding-bottom: 20px;
  text-align: center;
}

.gallery-inner-window{
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
}

/* Side_nav */

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 10px;
  /*background: black;*/
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1em;
  color: gray;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}