.glava{
    text-align: center;
    color: #000000;
    background-color: #ddd;
}

.glava h1{
    font-size: 2em;
}

/* navigation bar */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* heder */
.header-style{
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: 55% 45%;
    padding-bottom: 5px;
}

.header-title{
    color: #000000;
    text-align: right;
    text-size-adjust: auto;
    font-size: 2em;
}

.header-img{
    padding-top: 10px;
    padding-left: 20px;
    width: 70px;
}

body {
    margin: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
    color: #fff;
    /*font-size: 1.1em;*/
    /*line-height: 1.5;*/
  }


/* navigation bar */
.navbar{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #fff;
    /*font-family: 'Inria Serif', serif;*/
}

.logo{
    color: white;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.logo img{
    width: 3em;
    
}

.nav-links{
    display: flex;
    padding-right: 10px;
    /*justify-content: right;*/
    justify-content: space-evenly;
}

.nav-links li{
    list-style: none;
    float: right;
    margin: 0 0 3px 0;
}

.nav-links a{
    color: #000000;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
    /*margin-right: 20px; */
}
/*
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
} */

.nav-links a:hover { 
    border-bottom: 2px solid #000000;
  }

.nav-links a.active {
    border-bottom: 2px solid #000000;
  }

.burger{
    cursor: pointer;
    display: none;
}

.burger div{
    width: 25px;
    height: 4px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-bar-short{
    display: none;
}

/*
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
*/

  /* aktualni dogodni */
.vreme{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.vreme div{
    height: 50px;
}

.Radarska-slika p{
    color: #000000;
    text-align: center;
}

.Radarska-slika img{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.vreme_title{
    color: #000000;
    text-align: center;
    font-size: 12;
}

.aktualno{
    color: #000000;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.aktualni-dogodki{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    text-align: center;
}

.intervencije11{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
}

.intervencije1 {
    height: 100px;
    color: #000000;
}

.intervencije1 img{
    height: 100%;
}

  /* Smaller screen */
@media screen and (max-width:450px){
    .header-title{
        font-size: 15vw;
    }

    .logo h4{
        font-size: 5vw;
    }
}
@media screen and (max-width:700px){
    /* heder */
    .header-style{
        grid-template-columns: 1fr;
        padding-bottom: 5px;
    }
    .header-img{
        display: none;
    }

    .header-title{
        text-align: center;
    }

    body{
        overflow-x: hidden;
    }

    .navbar{grid-template-columns: 90% 10%;}
    .nav-links{display: none;}

    /* side bar */
    .nav-bar-short{display: grid;}

    .nav-links-short{
        position: absolute;
        right: 0px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links-short a:hover { 
        border-bottom: 2px solid #000000;
      }    

    .nav-links-short a{
        color: #000000;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 2vh;
    }

    .nav-links-short li{
        opacity: 0;
        list-style: none;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(40px);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
    
}